.login-container {
  width: 450px;
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.login-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group .login-button {
  width: 100%;
  padding: 8px 10px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.form-group .login-button:hover {
  background-color: darkred;
}
